.contact {
  /*background-color: #8f3b1b;*/
  background-image:
    linear-gradient(
      rgba(black, 0.5),
      rgba(black, 0.5)
    ),
    url(/somethingspecial/assets/img/hero-grass.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact-right {
  margin-left: 15px;
}

.icon, .contact-right {
  display: inline-block;
  vertical-align: middle;
}

.contact-item {
  display: block;
  padding: 1em 0;
  white-space: nowrap
}

.contact-right p, .contact-right h3 {
  margin: 0;
}

.small {
  font-size: 1em;
}

.contact-right a {
  color: white;
}

.contact-right a:hover {
  color: #000;
}

hr {
  width: 200px;
  margin: 0 0 0 65px;
}

footer {
  width: 100%;
  text-align: center;
  background-color: #fff;
  margin: 20px auto;
}

footer a {
  color: #666;
  font-size: 14px;
  margin-right: 50px;
} 

footer a:hover {
  color: #000;
}

@media screen and (max-width: 350px) {
  .contact-item p {
    font-size: 1em;
  }
  
  .small {
    font-size: .8em;
  }
}
